<a href="https://colab.research.google.com/github/DanaPing/Portfolio/blob/main/sql_shell.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#SQL via Python

In this notebook we discuss all the CRUD operations on a SQLite 3 database in Python.

We assume some basic understanding ot SQL

## Import the library

In [1]:
import sqlite3

## Create a connection

We use the connect method and pass the name of the database

In [2]:
conn = sqlite3.connect("mytext.db")

## Create a cursor object

A cursor acts a middleware between a connection and SQL query

In [3]:
cursor = conn.cursor()

# Create Table

Use a common 'pattern'

1. Create a SQL command as a string
2. User cursor to execture the command
3. If needed fetch the results

In [4]:
query = """
    CREATE TABLE USER(
                id INTEGER NOT NULL PRIMARY KEY AUTOINCREMENT,
                name TEXT,
                age INTEGER
              );
"""

In [5]:
cursor.execute(query)

# Insert into Table

In [6]:
query = "INSERT INTO user VALUES (1, 'Dana', 21);"

In [7]:
cursor.execute(query)

## Fetching Data

In [8]:
query = "SELECT * FROM user;"
cursor.execute(query)

In [9]:
cursor.fetchall()

[(1, 'Dana', 21)]

In [10]:
result = cursor.fetchall()
result

[]

## Updating Data

In [17]:
query = '''
UPDATE user Set name = "Batman" WHERE name = "Dana"
'''

In [18]:
conn.execute(query)

## Delete Data

In [19]:
query = '''
DELETE FROM user WHERE name = "Batman";
'''

conn.execute(query)

## View Schema

In [14]:
query = "SELECT name FROM sqlite_master WHERE type = 'table';"
conn.execute(query)

In [15]:
def get_tables(cursor):
  query = "SELECT name FROM sqlite_master WHERE type = 'table';"
  cursor.execute(query)
  result = cursor.fetchall()
  
  tables = []
  for item in result:
    tables.append(item[0])
  return(tables)
  get_tables(cursor)

In [16]:
for table in get_tables(cursor):
  cursor.execute("PRAGMA table_info('%s')" % table)
  result = cursor.fetchall()
  print(table +":" + str(result))

USER:[(0, 'id', 'INTEGER', 1, None, 1), (1, 'name', 'TEXT', 0, None, 0), (2, 'age', 'INTEGER', 0, None, 0)]
sqlite_sequence:[(0, 'name', '', 0, None, 0), (1, 'seq', '', 0, None, 0)]

## Delete Table